body {
            background-color: #030457;
            background-image:
                radial-gradient(circle at 20% 30%, rgba(1, 17, 88, 0.541) 0%, transparent 40%),
                radial-gradient(circle at 70% 20%, rgba(55, 0, 184, 0.815) 0%, transparent 60%),
                radial-gradient(circle at 50% 80%, rgba(19, 0, 54, 0.678) 0%, transparent 60%);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: "Roboto Slab", serif;
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .navbar-custom {
            background: linear-gradient(180deg, #000d81, #140166);
            box-shadow: 0px 0px 5px rgba(0, 162, 255, 0.452);
        }

        .navbar-brand span {
            font-weight: 600;
        }

        
        .cardvideo{
            
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0px 0px 15px rgb(68, 0, 255);
        }
        
        
        footer {
            background:#0a027a;
            color:#f8f9fa;
        }

        .btn-primary {
            background:#001e52;
            border-color:#01235e;
        }

        .btn-primary:hover {
            background:#020816;
            border-color:#020816;}
        .acento {
            background:#ffc107;
            color:#212529;
        }

        .ir-arriba {
            width: 55px;
            display:flex;
            justify-content: center;
            align-items: center;
            padding:10px 15px;
            background:#5700fa;
            color:#fff;
            font-size:22px;
            cursor:pointer;
            position:fixed;
            bottom:20px;
            right:20px;
            border-radius:50%;
            z-index:999;
            transition:.3s ease;
        }

        iframe{
            border-radius: 20px;
        }

        .ir-arriba:hover {
            background:#020816;
        }

        .card {
            background-color: #00167a;
            background-image:
                radial-gradient(circle at 10% 10%, rgba(3, 133, 255, 0.541) 0%, transparent 40%),
                radial-gradient(circle at 50% 80%, rgba(4, 55, 150, 0.678) 0%, transparent 60%);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            box-shadow: 0px 0px 10px rgba(0, 196, 245, 0.432);
        }

        section {
            padding-top:4rem;
            padding-bottom:4rem;
        }

        
        th,tr,td,thead,tbody{
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.212);
            padding: 10px;
            
        }

        table{
            background-color: #3d039b;
            background-image:
                radial-gradient(circle at 10% 15%, rgba(0, 20, 56, 0.76) 0%, transparent 40%),
                radial-gradient(circle at 70% 40%, rgba(0, 26, 51, 0.815) 0%, transparent 60%),
                radial-gradient(circle at 80% 80%, rgba(0, 5, 73, 0.678) 0%, transparent 60%);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            width: 100%;
            height: 250px;
            
        }
        

        .botones{
            text-decoration: none;
            border: none;
            background-color: rgb(108, 0, 250);
            padding: 10px 15px;
            border-radius: 10px;
            color: white;
            box-shadow: 0 0 5px black;
            width: 100%;
           
        }